*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-weight: 600;
}
.field {
  height: 700px;
  width: 831px;
  top: 28%;
  left: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.field img {
  height: 700px;
  width: 1000px;
}
.footbalTshirt {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footbalShirt {
  height: 80px;
  cursor: grab;
  width: 100px;

  background-color: blue;
  z-index: 12;
  clip-path: polygon(
    0 46%,
    23% 13%,
    50% 13%,
    77% 13%,
    100% 46%,
    88% 56%,
    74% 39%,
    74% 100%,
    26% 100%,
    26% 39%,
    11% 56%
  );
}

.footbalNumber {
  font-size: 3rem;
  color: black;
  z-index: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footballShirt-4-4-2-2 {
  position: absolute;
  top: 57%;
  left: 22%;
}

.footballShirt-4-4-2-3 {
  position: absolute;
  top: 35%;
  left: 22%;
}

.footballShirt-4-4-2-4 {
  position: absolute;
  top: 75%;
  left: 30%;
}
.footballShirt-4-4-2-5 {
  position: absolute;
  top: 10%;
  left: 30%;
}
.footballShirt-4-4-2-6 {
  position: absolute;
  top: 55%;
  left: 50%;
}
.footballShirt-4-4-2-7 {
  position: absolute;
  top: 35%;
  left: 50%;
}
.footballShirt-4-4-2-8 {
  position: absolute;
  top: 15%;
  left: 70%;
}
.footballShirt-4-4-2-9 {
  position: absolute;
  top: 70%;
  left: 70%;
}
.footballShirt-4-4-2-10 {
  position: absolute;
  top: 38%;
  left: 90%;
}
.footballShirt-4-4-2-11 {
  position: absolute;
  top: 57%;
  left: 90%;
}
/* 

THe 4-3-3 position


*/

.footballShirt-4-3-3-2 {
  position: absolute;
  top: 57%;
  left: 22%;
}

.footballShirt-4-3-3-3 {
  position: absolute;
  top: 35%;
  left: 22%;
}

.footballShirt-4-3-3-4 {
  position: absolute;
  top: 75%;
  left: 30%;
}
.footballShirt-4-3-3-5 {
  position: absolute;
  top: 10%;
  left: 30%;
}
.footballShirt-4-3-3-6 {
  position: absolute;
  top: 42%;
  left: 50%;
}
.footballShirt-4-3-3-7 {
  position: absolute;
  top: 60%;
  left: 65%;
}
.footballShirt-4-3-3-8 {
  position: absolute;
  top: 30%;
  left: 65%;
}
.footballShirt-4-3-3-9 {
  position: absolute;
  top: 65%;
  left: 90%;
}
.footballShirt-4-3-3-10 {
  position: absolute;
  top: 20%;
  left: 90%;
}
.footballShirt-4-3-3-11 {
  position: absolute;
  top: 43%;
  left: 90%;
}

.footballName {
  background-color: black;

  top: 45px;
  left: -7px;
  color: aliceblue;
  font-size: 16px;
}

/*3-5-2*/

.footballShirt-3-5-2-2 {
  position: absolute;
  top: 62%;
  left: 27%;
}

.footballShirt-3-5-2-3 {
  position: absolute;
  top: 40%;
  left: 22%;
}

.footballShirt-3-5-2-4 {
  position: absolute;
  top: 75%;
  left: 70%;
}
.footballShirt-3-5-2-5 {
  position: absolute;
  top: 20%;
  left: 30%;
}
.footballShirt-3-5-2-6 {
  position: absolute;
  top: 42%;
  left: 50%;
}
.footballShirt-3-5-2-7 {
  position: absolute;
  top: 60%;
  left: 58%;
}
.footballShirt-3-5-2-8 {
  position: absolute;
  top: 22%;
  left: 58%;
}
.footballShirt-3-5-2-9 {
  position: absolute;
  top: 55%;
  left: 90%;
}
.footballShirt-3-5-2-10 {
  position: absolute;
  top: 30%;
  left: 90%;
}
.footballShirt-3-5-2-11 {
  position: absolute;
  top: 10%;
  left: 70%;
}

/*4-2-4*/

.footballShirt-4-2-4-2 {
  position: absolute;
  top: 57%;
  left: 22%;
}

.footballShirt-4-2-4-3 {
  position: absolute;
  top: 35%;
  left: 22%;
}

.footballShirt-4-2-4-4 {
  position: absolute;
  top: 75%;
  left: 30%;
}
.footballShirt-4-2-4-5 {
  position: absolute;
  top: 10%;
  left: 30%;
}
.footballShirt-4-2-4-6 {
  position: absolute;
  top: 55%;
  left: 50%;
}
.footballShirt-4-2-4-7 {
  position: absolute;
  top: 75%;
  left: 80%;
}
.footballShirt-4-2-4-8 {
  position: absolute;
  top: 27%;
  left: 50%;
}
.footballShirt-4-2-4-9 {
  position: absolute;
  top: 55%;
  left: 85%;
}
.footballShirt-4-2-4-10 {
  position: absolute;
  top: 30%;
  left: 85%;
}
.footballShirt-4-2-4-11 {
  position: absolute;
  top: 10%;
  left: 80%;
}
/*
Football stuff outside field
*/

.footballCard {
  position: absolute;
  left: 70%;
  top: 1.3%;
  height: 720px;
  width: 400px;
  background-color: rgb(236, 233, 233);
  display: flex;
  flex-direction: column;
}

.footbalPosition {
  height: 80px;
  width: 100%;
  background-color: rgb(236, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footballInside {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footballInside--position {
  font-size: 2.5rem;
  align-self: flex-start;
  margin-left: 2rem;
}

.footballInside--selectingLineUp {
  width: 350px;
  font-size: 2rem;
  padding: 1rem;
  padding-left: 2rem;
  border: 1px solid rgba(23, 24, 24, 0.459);
}

.footballInside--selectingLineUp:focus {
  outline: none;
}

.footballNamesDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inputPlayer {
  display: flex;
}

.numberOnShirt-span {
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  left: 15%;
}
.surnameOnShirt-span {
  font-size: 2rem;
}

.numberOnShirt {
  display: flex;
  margin-top: 2.3rem;
  margin-right: 1rem;
}
.surnameOnShirt {
  display: flex;
  flex-direction: column;
}
.numberOnShirt-input {
  width: 50px;
  height: 40px;
  padding-left: 0.8rem;
  font-size: 2rem;
  margin-left: 2rem;
}

.surnameOnShirt-input {
  width: 300px;
  height: 40px;
  font-size: 2rem;
  padding-left: 1rem;
}

.styles {
  position: absolute;
  top: 2%;
  height: 200px;
  width: 200px;

  left: 19.2%;
}

.style_div {
  height: 70px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  background: linear-gradient(#e66465, #b82525);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.colorSquare {
  position: relative;
  top: 1.6rem;
  left: 2.5rem;
  height: 20px;
  width: 20px;
}
.pickColor {
  font-size: 1.6rem;
  position: absolute;
  top: 1rem;
  left: 7rem;
}

.colorPicker {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-color-swatch {
  border-radius: 50%;
}
